<a href="https://colab.research.google.com/github/waraporn19/data_viz/blob/main/Pandas_101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd #เรียกใช้ packet ชื่อว่า pandas แล้วเปลี่ยนเป็น pd

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
# เรียกใช้ฟังก์ชั่น os  คือเรียกไฟล์ ชี้ไฟล์
import os
path = '/content/drive/My Drive/Dataviz_2021'#ให้ข้อมูลที่อยู่ใน Drive แทนด้วยชื่อ path

In [ ]:
a = path + '/covid_file_path'
print(a)

/content/drive/My Drive/Dataviz_2021/covid_file_path

#Load data to memory

ใส่ edcoding='utf-8' หรือ encoding='latin1' ถ้าภาษาไม่ตรงกับ

In [5]:
covid_file_path = os.path.join(path,'pm-18-jan-2021.csv')
print(covid_file_path)

/content/drive/My Drive/Dataviz_2021/pm-18-jan-2021.csv

In [6]:
data_covid = pd.read_csv(covid_file_path)
data_covid

         No.  ...                                         risk
0          1  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2          3  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                          ...
12418  12419  ...                                  สถานบันเทิง
12419  12420  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12420  12421  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12421  12422  ...                  Cluster ชลบุรี โรงเบียร์ 90
12422  12423  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12423 rows x 10 columns]

In [ ]:
data_covid.shape

(12423, 10)

In [ ]:
data_covid.head()

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

In [ ]:
#[เลือกcolum][ตัวที่จะชี้]
data_covid['province_of_onset'][4]

'กรุงเทพมหานคร'

#.iloc ชี้ค่าที่เป็น array [แถว][หลัก]

In [ ]:
data_covid.iloc[4,7]

'กรุงเทพมหานคร'

#ใช้คำสั่ง smaller_table  
ตัดเฉพาะ Colum ที่เราต้องการ

In [ ]:
smaller_table = data_covid[['announce_date','province_of_onset','risk']]
smaller_table

      announce_date  ...                                         risk
0         1/12/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1         1/17/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2         1/22/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3         1/22/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4         1/24/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...             ...  ...                                          ...
12418     1/18/2021  ...                                  สถานบันเทิง
12419     1/18/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12420     1/18/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12421     1/18/2021  ...                  Cluster ชลบุรี โรงเบียร์ 90
12422     1/18/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12423 rows x 3 columns]

#Table slicing

## ตัดเฉพาะ row ที่ต้องการ

แบบง่าย แต่ใช้งานไม่ค่อยจะได้

In [ ]:
data_covid.iloc[1:5,:] #แถวที่1-4 เอาทุก ๆ คอลัมน์

   No. announce_date  ... district_of_onset                              risk
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[4 rows x 10 columns]

##แบบ Advanced แต่ใช้ประโยชน์ได้เยอะกว่า ( ตัดแบบใช้ logic query)

In [ ]:
data_covid_KK = data_covid[data_covid['province_of_onset']=='ขอนแก่น']

In [ ]:
data_covid[data_covid['province_of_onset']=='ขอนแก่น']

         No.  ...                                           risk
180      181  ...                                        สนามมวย
462      463  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466    1467  ...                  คนไทยเดินทางกลับจากต่างประเทศ
1970    1971  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637    2638  ...                  สัมผัสผู้เดินทางจากต่างประเทศ
2673    2674  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
5948    5949  ...                              Cluster สมุทรสาคร
6082    6083  ...                              Cluster สมุทรสาคร
9333    9334  ...                           อยู่ระหว่างการสอบสวน
9334    9335  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
10610  10611  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11517  11518  ...                           อยู่ระหว่างการสอบสวน
11697  11698  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11698  11699  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[14 rows x 10 columns]

data_covid[x] x สามารถใส่ค่าเข้าไปได้ 2 แบบ

ชื่อ column

ใส่ rows ที่ต้องการ(ใส่ list ที่มีขนาดเท่ากับจำนวนแถว แล้วบอกว่าเอาแถวไหนบ้าง โดยใช้ logical expression(True/False))

In [ ]:
eight_rows_covid = data_covid.iloc[:8,:]
eight_rows_covid

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
6    7     1/26/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
7    8     1/26/2020  ...            หัวหิน  คนต่างชาติเดินทางมาจากต่างประเทศ

[8 rows x 10 columns]

In [ ]:
eight_rows_covid[[True,False,True,True,False,True,False,False]]#ใส่ rows ที่ต้องการ

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[4 rows x 10 columns]

In [ ]:
eight_rows_covid['province_of_onset'] == 'กรุงเทพมหานคร' #สร้าง list ของ logical expression

0     True
1     True
2    False
3     True
4     True
5     True
6     True
7    False
Name: province_of_onset, dtype: bool

In [ ]:
eight_rows_covid[eight_rows_covid['province_of_onset']=='กรุงเทพมหานคร'] #2 บรรทัดบน บวกกัน

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
6    7     1/26/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[6 rows x 10 columns]

##HW6 (ให้ใช้เฉพาะที่อาจารย์สอนไปแล้วในวิชานี้)

คำนวณ อายุเฉลี่ย ของ ผู้หญิง และผู้ชาย ของข้อมูลทั้งหมด

คำนวณ อายุเฉลี่ย ของ ผู้หญิง และผู้ชาย ของผู้ป่วยในจังหวัดขอนแก่น

Quiz 3. หาจำนวนผู้ป่วยที่เป็น 'คนต่างชาติเดินทางมาจากต่างประเทศ'

In [ ]:
new_all = data_covid[['sex','age']]

In [ ]:
# หาค่าเฉลี่ยหญิง'
w_all_table = new_all[new_all['sex'] == 'หญิง']
w_all_table_dp=w_all_table[['age']]
w_all_table_dp_avg =w_all_table_dp.dropna()
w_all_table_dp_avg_v =w_all_table_dp_avg.values

In [ ]:
# หาค่าเฉลี่ยชาย
m_all_table = new_all[new_all['sex'] == 'ชาย']
m_all_table_dp=m_all_table[['age']]
m_all_table_dp_avg = m_all_table_dp.dropna()
m_all_table_dp_avg_v = m_all_table_dp_avg.values

In [ ]:
answerforwo_all = []
for i in w_all_table_dp_avg_v :
      data = float(i)
      answerforwo_all.append(data)

In [ ]:
answerform_all = []
for i in m_all_table_dp_avg_v :
      data = float(i)
      answerform_all.append(data)

In [ ]:
def my_mean(sample):
    return sum(sample) / len(sample)

In [ ]:
ans1_1 = my_mean(answerforwo_all)
ans1_2 = my_mean(answerform_all)

In [ ]:
print(f'ค่าอายุเฉลี่ยของเพศหญิงทั่วประเทศที่ติดโควิด19 เท่ากับ {ans1_1}')
print(f'ค่าอายุเฉลี่ยของเพศชายทั่วประเทศที่ติดโควิด19 เท่ากับ {ans1_2}')

ค่าอายุเฉลี่ยของเพศหญิงทั่วประเทศที่ติดโควิด19 เท่ากับ 36.707624154814646
ค่าอายุเฉลี่ยของเพศชายทั่วประเทศที่ติดโควิด19 เท่ากับ 39.55680256527714

2. คำนวณ อายุเฉลี่ย ของผู้หญิงและผู้ชายของผู้ป่วยในจังหวัดขอนแก่น

In [ ]:
new_KK =data_covid19_KK[['sex','age']]

In [ ]:
w_KK =new_KK [new_KK ['sex'] == 'หญิง']
w_KK_age =w_KK[['age']]
w_KK_v = w_KK_age.values

In [ ]:
m_KK =new_KK [new_KK ['sex'] == 'ชาย']
m_KK_age =m_KK[['age']]
m_KK_v = m_KK_age.values

In [ ]:
answerfor_wo = []
for i in w_KK_v :
      data = float(i)
      answerfor_wo.append(data)

In [ ]:
answerfor_men = []
for i in m_KK_v:
      data = float(i)
      answerfor_men.append(data)

In [ ]:
ans2_1 = my_mean(answerfor_wo)
ans2_2 = my_mean(answerfor_men)

In [ ]:
print(f'ค่าอายุเฉลี่ยของเพศหญิงจังหวัดขอนแก่นที่ติดโควิด19 เท่ากับ {ans2_1}')
print(f'ค่าอายุเฉลี่ยของเพศชายจังหวัดขอนแก่นที่ติดโควิด19 เท่ากับ {ans2_2}')

ค่าอายุเฉลี่ยของเพศหญิงจังหวัดขอนแก่นที่ติดโควิด19 เท่ากับ 41.57142857142857
ค่าอายุเฉลี่ยของเพศชายจังหวัดขอนแก่นที่ติดโควิด19 เท่ากับ 26.571428571428573

In [ ]:
data_covid[data_covid['risk']=='คนต่างชาติเดินทางมาจากต่างประเทศ'].shape[0]

155

##เฉลย

In [ ]:
#ตัดเฉพาะ colum ที่ตองาร
this_data = data_covid[['sex','age','province_of_onset']]  # ตั้งชื่อตารางใหม๋ = ชื่อตาราง[['colum']]

In [ ]:
# หาค่าเฉลี่ยหญิง'
female = this_data

In [ ]:
sum =0
N = 0
for a in famale ['age'] :

     if a > 0 :
        sum += a  # sum = sum + a
        N += 's'
  
print(f'อายุเฉลี่ย ของ ผู้ป่วยหญิง {sum/N}') #หามาได้ทั้งหมด แล้วหาร จำนวนทั้งหมด

#การจัดการ missing

- ลบ record ที่เป็น missing
- แทนที่ ค่า missig ด้วยค่าที่เหมาะสม  mean, default, category - unknown
- ใช้ค่าจาก อื่น colum ช่วยประมารค่า ค่าใน colum  ที่หายไป
(regression, deep learning, etc)

##ลบ record ที่เป็น missing

###คำสั่งที่ใช้คือ  .drop_na

missing =  None  NA(not autorized) NaN (not a number)

In [ ]:
##inplace เข้าไปแก้ไขเลย ใหค่าอัพเดท

In [ ]:
#subset คือ

##แทนที่ ค่า missig