<a href="https://colab.research.google.com/github/waraporn19/data_viz/blob/main/Pandas102.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

In [2]:
import pandas as pd #เรียกใช้ packet ชื่อว่า pandas แล้วเปลี่ยนเป็น pd

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
# เรียกใช้ฟังก์ชั่น os  คือเรียกไฟล์ ชี้ไฟล์
import os
path = '/content/drive/My Drive/Dataviz_2021'#ให้ข้อมูลที่อยู่ใน Drive แทนด้วยชื่อ path

In [5]:

covid_file_path = os.path.join(path,'pm-18-jan-2021.csv')
print(covid_file_path)

/content/drive/My Drive/Dataviz_2021/pm-18-jan-2021.csv

In [6]:
data_covid = pd.read_csv(covid_file_path)
data_covid

         No.  ...                                         risk
0          1  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2          3  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                          ...
12418  12419  ...                                  สถานบันเทิง
12419  12420  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12420  12421  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12421  12422  ...                  Cluster ชลบุรี โรงเบียร์ 90
12422  12423  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12423 rows x 10 columns]

In [7]:
data_covid.shape

(12423, 10)

#.isnull()
.isnull() ข้อมูลต้องเป็น array

In [ ]:
data_covid.isnull()

         No.  announce_date  ...  district_of_onset   risk
0      False          False  ...               True  False
1      False          False  ...               True  False
2      False          False  ...              False  False
3      False          False  ...               True  False
4      False          False  ...               True  False
...      ...            ...  ...                ...    ...
12418  False          False  ...              False  False
12419  False          False  ...              False  False
12420  False          False  ...              False  False
12421  False          False  ...              False  False
12422  False          False  ...              False  False

[12423 rows x 10 columns]

#.any()เอาค่าความจริงในแต่ละ column ทุกค่ามา or กัน
.all() เอาค่าความจริงภายในแต่ละ column มา AND กัน

In [ ]:
data_covid.isnull().any()  #ได้

No.                      False
announce_date            False
notification_date         True
sex                       True
age                       True
nationality               True
province_of_isolation     True
province_of_onset         True
district_of_onset         True
risk                      True
dtype: bool

In [ ]:
data_covid.isnull().all()

No.                      False
announce_date            False
notification_date        False
sex                      False
age                      False
nationality              False
province_of_isolation    False
province_of_onset        False
district_of_onset        False
risk                     False
dtype: bool

In [ ]:
# data_covid.iloc[0,0].isnull()  #ใช้ .isnull() ไม่ได้ ข้อมูลต้องเป็น array

In [ ]:
data_covid['No.'][0].isnull()  #อันนี้เป็นการชี้ของ pandas

ต้องใช้วิธีตัดตาราง

In [ ]:
data_covid.iloc[:1,0].isnull()

0    False
Name: No., dtype: bool

#การต่อตาราง ในแนวแกน x แกน y
- ต่อแกน y คือ เพิ่ม records (เพิ่มจำนวนข้อมูล)
- ต่อแกน x คือ เพิ่ม record (เพิ่มรายละเอียดของข้อมูล)

#ต่อแกน Y pd.concat()

In [ ]:
data_covid['province_of_onset']=='ขอนแก่น'

0        False
1        False
2        False
3        False
4        False
         ...
12418    False
12419    False
12420    False
12421    False
12422    False
Name: province_of_onset, Length: 12423, dtype: bool

In [ ]:
dataKK = data_covid[data_covid['province_of_onset']=='ขอนแก่น']  # จะได้ list ของ T F
dataKK.head()

       No.  ...                                           risk
180    181  ...                                        สนามมวย
462    463  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466  1467  ...                  คนไทยเดินทางกลับจากต่างประเทศ
1970  1971  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637  2638  ...                  สัมผัสผู้เดินทางจากต่างประเทศ

[5 rows x 10 columns]

In [ ]:
dataUD = data_covid[data_covid['province_of_onset']=='อุดรธานี']  # จะได้ list ของ T F
dataUD.head()

     No.  ...                                         risk
424  425  ...                                      สนามมวย
434  435  ...                                  สถานบันเทิง
471  472  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
883  884  ...                                  สถานบันเทิง
885  886  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[5 rows x 10 columns]

In [ ]:
dataMS = data_covid[data_covid['province_of_onset']=='มหาสารคาม']  # จะได้ list ของ T F
dataMS.head()

         No.  ...                                         risk
346      347  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
789      790  ...                                  สถานบันเทิง
6690    6691  ...                            Cluster สมุทรสาคร
10802  10803  ...                            Cluster สมุทรสาคร

[4 rows x 10 columns]

In [ ]:
dataMYisan = pd.concat([dataKK,dataUD,dataMS])
dataMYisan

         No.  ...                                           risk
180      181  ...                                        สนามมวย
462      463  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466    1467  ...                  คนไทยเดินทางกลับจากต่างประเทศ
1970    1971  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637    2638  ...                  สัมผัสผู้เดินทางจากต่างประเทศ
2673    2674  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
5948    5949  ...                              Cluster สมุทรสาคร
6082    6083  ...                              Cluster สมุทรสาคร
9333    9334  ...                           อยู่ระหว่างการสอบสวน
9334    9335  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
10610  10611  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11517  11518  ...                           อยู่ระหว่างการสอบสวน
11697  11698  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11698  11699  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
424      425  ...                                        สนามมวย
434      435  ...                                    สถานบันเทิง
471      472  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
883      884  ...                                    สถานบันเทิง
885      886  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
941      942  ...                                    สถานบันเทิง
1059    1060  ...                  คนไทยเดินทางกลับจากต่างประเทศ
2013    2014  ...                  คนไทยเดินทางกลับจากต่างประเทศ
5810    5811  ...                              Cluster สมุทรสาคร
7433    7434  ...                                  Cluster ระยอง
346      347  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
789      790  ...                                    สถานบันเทิง
6690    6691  ...                              Cluster สมุทรสาคร
10802  10803  ...                              Cluster สมุทรสาคร

[28 rows x 10 columns]

#ต่อแกน X
- จับ 2 ตารางมาต่อกันเลย .merge
- เลือกมาเพิ่มเฉพาะบางคอลัมน์ .map

In [ ]:
data_province = data_covid[['No.','announce_date','province_of_onset']] # สร้างตารางใหม่
data_province

         No. announce_date province_of_onset
0          1     1/12/2020     กรุงเทพมหานคร
1          2     1/17/2020     กรุงเทพมหานคร
2          3     1/22/2020            นครปฐม
3          4     1/22/2020     กรุงเทพมหานคร
4          5     1/24/2020     กรุงเทพมหานคร
...      ...           ...               ...
12418  12419     1/18/2021       สมุทรปราการ
12419  12420     1/18/2021       สมุทรปราการ
12420  12421     1/18/2021            ชลบุรี
12421  12422     1/18/2021            ชลบุรี
12422  12423     1/18/2021             ระยอง

[12423 rows x 3 columns]

In [ ]:
data_human = data_covid[['No.','sex','age','nationality']]
data_human

         No.   sex   age nationality
0          1  หญิง  61.0       China
1          2  หญิง  74.0       China
2          3  หญิง  73.0    Thailand
3          4   ชาย  68.0       China
4          5  หญิง  66.0       China
...      ...   ...   ...         ...
12418  12419  หญิง  28.0    Thailand
12419  12420  หญิง  27.0    Thailand
12420  12421   ชาย  10.0    Thailand
12421  12422   ชาย  52.0    Thailand
12422  12423   ชาย  51.0    Thailand

[12423 rows x 4 columns]

แบบง่าย รู้ว่า 2 ตาราง record ตรงกัน

In [ ]:
full_table1 = data_human.merge(data_province)#ก่อน marge ตารางจะอยู่ด้านซ้าย  เมื่อ  merge จะทำให้ตารางอยู่ด้านขวา
full_table1#การที่ตารางสามารถรวมได้เลยโดยไม่ต้องกำหนด key เพราะว่า 2 ตาราง record ตรงกัน ทำให้รวมกันได้เลย

         No.   sex   age nationality announce_date province_of_onset
0          1  หญิง  61.0       China     1/12/2020     กรุงเทพมหานคร
1          2  หญิง  74.0       China     1/17/2020     กรุงเทพมหานคร
2          3  หญิง  73.0    Thailand     1/22/2020            นครปฐม
3          4   ชาย  68.0       China     1/22/2020     กรุงเทพมหานคร
4          5  หญิง  66.0       China     1/24/2020     กรุงเทพมหานคร
...      ...   ...   ...         ...           ...               ...
12418  12419  หญิง  28.0    Thailand     1/18/2021       สมุทรปราการ
12419  12420  หญิง  27.0    Thailand     1/18/2021       สมุทรปราการ
12420  12421   ชาย  10.0    Thailand     1/18/2021            ชลบุรี
12421  12422   ชาย  52.0    Thailand     1/18/2021            ชลบุรี
12422  12423   ชาย  51.0    Thailand     1/18/2021             ระยอง

[12423 rows x 6 columns]

sort

In [ ]:
data_human2 = data_human.sort_values('age') # ทำการเรียงตาม อายุ จาก น้อย -> มาก
data_human2

         No.   sex  age nationality
6477    6478  หญิง  0.0    Thailand
1987    1988   ชาย  0.0    Thailand
1675    1676   ชาย  0.0       Japan
1075    1076   ชาย  0.0    Thailand
300      301   ชาย  0.0    Thailand
...      ...   ...  ...         ...
12405  12406   NaN  NaN         NaN
12406  12407   NaN  NaN         NaN
12407  12408   NaN  NaN         NaN
12408  12409   NaN  NaN         NaN
12409  12410   NaN  NaN         NaN

[12423 rows x 4 columns]

.merge

In [ ]:
full_table2 = data_human2.merge(data_province) #ซ้าย merge ต่อด้วย ขวา
full_table2.head()

    No.   sex  age nationality announce_date province_of_onset
0  6478  หญิง  0.0    Thailand    12/30/2020          เพชรบุรี
1  1988   ชาย  0.0    Thailand      4/4/2020             ระยอง
2  1676   ชาย  0.0       Japan      4/1/2020     กรุงเทพมหานคร
3  1076   ชาย  0.0    Thailand     3/27/2020      สุราษฎร์ธานี
4   301   ชาย  0.0    Thailand     3/20/2020            ภูเก็ต

In [ ]:
data_covid[1987:1988]  # เช็ค ว่าต่อกันถูกต้องรึป่าว

       No.  ...                                         risk
1987  1988  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[1 rows x 10 columns]

In [ ]:
data_human2_renamed = data_human2.rename(columns={'No.': 'patientNumber'})  # เปลี่ยนชื่อ column ที่ชื่อ 'No.' ให้เป็นชื่อ  'patientNumber'
data_human2_renamed.head()

      patientNumber   sex  age nationality
6477           6478  หญิง  0.0    Thailand
1987           1988   ชาย  0.0    Thailand
1675           1676   ชาย  0.0       Japan
1075           1076   ชาย  0.0    Thailand
300             301   ชาย  0.0    Thailand


data_human2_renamed.merge(data_province)

จะเกิด error เพราะมีหัวตารางที่ไม่เหมือนกันทำให้เชื่อมกันไม่ได้

In [ ]:
full_table3 = data_human2_renamed.merge(data_province,left_on='patientNumber',right_on='No.') # มีคีย์ เป็นตัวเชื่อม
full_table3.head()

   patientNumber   sex  age nationality   No. announce_date province_of_onset
0           6478  หญิง  0.0    Thailand  6478    12/30/2020          เพชรบุรี
1           1988   ชาย  0.0    Thailand  1988      4/4/2020             ระยอง
2           1676   ชาย  0.0       Japan  1676      4/1/2020     กรุงเทพมหานคร
3           1076   ชาย  0.0    Thailand  1076     3/27/2020      สุราษฎร์ธานี
4            301   ชาย  0.0    Thailand   301     3/20/2020            ภูเก็ต

#map() เลือกมาเฉพาะบาง column มาแปะเพิ่มเข้าไป
คุณสมบัติของ pandas ก็คือเราสามารถสร้าง column ใหม่ให้ตาราง df ได้ โดย

df['ชื่อ column ใหม่'] = (list ที่มีจำนวนสมาชิกเท่ากับจำนวน record ของ df)

In [ ]:
data_human2_renamed.head()

      patientNumber   sex  age nationality
6477           6478  หญิง  0.0    Thailand
1987           1988   ชาย  0.0    Thailand
1675           1676   ชาย  0.0       Japan
1075           1076   ชาย  0.0    Thailand
300             301   ชาย  0.0    Thailand

In [ ]:
data_human2_renamed['patientNumber'].map(data_covid.set_index('No.')['risk']) 
#.map จะผูกค่า(เรียงให้ตรงกัน) 'patientNumber' กับ 'No.' เข้าด้วยกันแล้ว return ค่า 'risk' ออกมา

#เพิ่ม column
จากตาราง data_human2_renamed เพิ่ม column ['num'] เข้าไป ค่าที่ถูกนำไปใส่ คือ range(0-ตัวเลขก่อนหน้า) ของจำนวน 'แถว' ของ data_human2_renamed

In [ ]:
data_human2_renamed['num'] = range(data_human2_renamed.shape[0])
data_human2_renamed

       patientNumber   sex  age nationality    num
6477            6478  หญิง  0.0    Thailand      0
1987            1988   ชาย  0.0    Thailand      1
1675            1676   ชาย  0.0       Japan      2
1075            1076   ชาย  0.0    Thailand      3
300              301   ชาย  0.0    Thailand      4
...              ...   ...  ...         ...    ...
12405          12406   NaN  NaN         NaN  12418
12406          12407   NaN  NaN         NaN  12419
12407          12408   NaN  NaN         NaN  12420
12408          12409   NaN  NaN         NaN  12421
12409          12410   NaN  NaN         NaN  12422

[12423 rows x 5 columns]

ลำดับที่อยู่ใน 'patientNumber' ให้เป็นลำดับเดียวกับ 'No.' ที่อยู่ใน data_covid แล้วในลำดับนั้นเนี่ย ให้เอาค่าที่อยู่ใน column ชื่อ 'risk' มา

In [ ]:
data_human2_renamed['patientNumber'].map(data_covid.set_index('No.')['risk']) #.map มันจะ ผูกค่า 'patientNumber' กับ 'No.' เข้าด้วยกัน แล้ว return list ของค่า ['risk']

6477     สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1987     สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1675     สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1075     สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
300      สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
                            ...
12405                              Cluster สมุทรสาคร
12406                              Cluster สมุทรสาคร
12407                              Cluster สมุทรสาคร
12408                              Cluster สมุทรสาคร
12409                              Cluster สมุทรสาคร
Name: patientNumber, Length: 12423, dtype: object

In [ ]:
data_human2_renamed['detail'] = data_human2_renamed['patientNumber'].map(data_covid.set_index('No.')['risk'])
data_human2_renamed#เอาตารางหลักมาสร้าง columns ใหม่ โดยจะดึงหัวตารางที่ชื่อว่า 'patientNumber' 
#แล้ว .map กับตาราง data_covid ที่ใช้ 'No.' เชื่อมแล้วดึงค่า 'risk' มาด้วย

       patientNumber   sex  ...    num                                       detail
6477            6478  หญิง  ...      0  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1987            1988   ชาย  ...      1  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1675            1676   ชาย  ...      2  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1075            1076   ชาย  ...      3  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
300              301   ชาย  ...      4  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
...              ...   ...  ...    ...                                          ...
12405          12406   NaN  ...  12418                            Cluster สมุทรสาคร
12406          12407   NaN  ...  12419                            Cluster สมุทรสาคร
12407          12408   NaN  ...  12420                            Cluster สมุทรสาคร
12408          12409   NaN  ...  12421                            Cluster สมุทรสาคร
12409          12410   NaN  ...  12422                            Cluster สมุทรสาคร

[12423 rows x 6 columns]

#HW7 สร้างตารางใหม่ ที่ค่าใน sex เป็น missing ทั้งหมด
สรุปว่าทำไม record นั้นๆ ถึงเป็น missing
สรุป ใน 100% มีกี่เปอร์เซ็นที่มาจาก.....

In [8]:
data_covid.head()

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

In [9]:
sex_missing = data_covid.fillna(value={'sex':'missing'}) #เติมค่า missing ไปแทนที่ค่าของ 0 หรือ none ใน column sex 
sex_missing.head()  
#ค่า missing ที่เกิดขึ้นใน column sex อาจจะเกิดขึ้นเพราะไม่มีการระบุเพศของผู้ป่วยให้ครบถ้วนหรือมีการตกหล่นของข้อมูล

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

In [10]:
sex_missing2 = sex_missing[sex_missing['sex']=='missing'] #ดูค่าที่มี sex เป็น missing ทั้งหมดว่ามีกี่ตัว
sex_missing2.head()

       No. announce_date  ... district_of_onset               risk
4391  4392    12/20/2020  ...             เมือง  Cluster สมุทรสาคร
4392  4393    12/20/2020  ...             เมือง  Cluster สมุทรสาคร
4393  4394    12/20/2020  ...             เมือง  Cluster สมุทรสาคร
4394  4395    12/20/2020  ...             เมือง  Cluster สมุทรสาคร
4395  4396    12/20/2020  ...             เมือง  Cluster สมุทรสาคร

[5 rows x 10 columns]

In [11]:
sex_missing2.columns

Index(['No.', 'announce_date', 'notification_date', 'sex', 'age',
       'nationality', 'province_of_isolation', 'province_of_onset',
       'district_of_onset', 'risk'],
      dtype='object')

In [12]:
#สร้างตารางใหม่ชื่อ New_dataCo โดยเลือกเฉพาะ column ที่ต้องการ
New_dataCo = sex_missing2[["nationality","province_of_isolation","province_of_onset","risk"]] 
New_dataCo.head()

     nationality province_of_isolation province_of_onset               risk
4391       Burma             สมุทรสาคร         สมุทรสาคร  Cluster สมุทรสาคร
4392       Burma             สมุทรสาคร         สมุทรสาคร  Cluster สมุทรสาคร
4393       Burma             สมุทรสาคร         สมุทรสาคร  Cluster สมุทรสาคร
4394       Burma             สมุทรสาคร         สมุทรสาคร  Cluster สมุทรสาคร
4395       Burma             สมุทรสาคร         สมุทรสาคร  Cluster สมุทรสาคร

In [13]:
#.groupby ตารางใหม่ที่ได้ 
New_dataCo.groupby('nationality').count()

             province_of_isolation  province_of_onset  risk
nationality
Burma                         1366               1349  1366
Cambodia                        61                  0    61
Thailand                        46                 22    31