<a href="https://colab.research.google.com/github/waraporn19/data_viz/blob/main/Quiz_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##เปรียบเทียบ alpha และ deta ขงข้อมูล ก่อนและตั้งแต่วันที่ 2 มิถุนายน 2020

In [13]:
import pandas as pd

In [15]:
data = pd.read_csv('example_timestamp.csv')
data

   Unnamed: 0  alpha  beta
0  2020-05-29   8.78    24
1  2020-05-30  13.00    25
2  2020-05-31   0.44    25
3  2020-06-01   1.94    28
4  2020-06-02   5.40    20
5  2020-06-03   5.68    21
6  2020-06-04   2.64    16

In [16]:
from datetime import datetime

In [17]:
data.columns = [i.strftime('%Y-%m-%d') if isinstance(i, datetime) else i for i in data.columns]
data

   Unnamed: 0  alpha  beta
0  2020-05-29   8.78    24
1  2020-05-30  13.00    25
2  2020-05-31   0.44    25
3  2020-06-01   1.94    28
4  2020-06-02   5.40    20
5  2020-06-03   5.68    21
6  2020-06-04   2.64    16

In [18]:
data1 = data[data['Unnamed: 0'] < '2020-06-02']
data2 = data1[['alpha','beta']].sum()
print(f' ผลรวมของค่า alpha และ ค่า beta ก่อนวันที่ 2 มิถุนายน 2563 เท่ากับ 24.16 และ 102 ตามลำดับ')

 ผลรวมของค่า alpha และ ค่า beta ก่อนวันที่ 2 มิถุนายน 2563 เท่ากับ 24.16 และ 102 ตามลำดับ