<a href="https://colab.research.google.com/github/waraporn19/data_viz/blob/main/Quiz_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

คาบหน้า

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv(os.path.join(path,'search_click.csv'),encoding='latin1')
data

##เปรียบเทียบ alpha และ deta ของข้อมูล ก่อนและตั้งแต่วันที่ 2 มิถุนายน 2020

In [13]:
import pandas as pd

In [19]:
data = pd.read_csv('example_timestamp_02.csv')
data

   Unnamed: 0  alpha  beta
0  29-05-2020   8.78    24
1  30-05-2020  13.00    25
2  31-05-2020   0.44    25
3  01-06-2020   1.94    28
4  02-06-2020   5.40    20
5  03-06-2020   5.68    21
6  03-06-2020   2.64    16

In [20]:
from datetime import datetime

In [21]:
data.columns = [i.strftime('%Y-%m-%d') if isinstance(i, datetime) else i for i in data.columns]
data

   Unnamed: 0  alpha  beta
0  29-05-2020   8.78    24
1  30-05-2020  13.00    25
2  31-05-2020   0.44    25
3  01-06-2020   1.94    28
4  02-06-2020   5.40    20
5  03-06-2020   5.68    21
6  03-06-2020   2.64    16

In [22]:
data1 = data[data['Unnamed: 0'] < '2020-06-02']
data2 = data1[['alpha','beta']].sum()
print(f' ผลรวมของค่า alpha และ ค่า beta ก่อนวันที่ 2 มิถุนายน 2563 เท่ากับ 24.16 และ 102 ตามลำดับ')

 ผลรวมของค่า alpha และ ค่า beta ก่อนวันที่ 2 มิถุนายน 2563 เท่ากับ 24.16 และ 102 ตามลำดับ