<a href="https://colab.research.google.com/github/waraporn19/data_viz/blob/main/Quiz_5(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

คาบหน้า

In [ ]:
import pandas as pd

In [ ]:
import os
from datetime import datetime as dt

In [ ]:
df= pd.read_csv(('search_click.csv'),encoding='latin1')
df

       click_timestamp  ...    ads
0              11:38.9  ...   True
1              30:51.3  ...   True
2              32:09.6  ...   True
3              00:59.8  ...   True
4              23:36.8  ...   True
...                ...  ...    ...
101263         57:06.4  ...  False
101264         50:05.0  ...  False
101265         00:35.0  ...  False
101266         07:13.9  ...   True
101267         34:26.8  ...    NaN

[101268 rows x 6 columns]

In [ ]:
df1= df[df['click_timestamp']>='10:00.0']

In [ ]:
df2= df1[df1['click_timestamp'] <= '11:00.0']
df.mean()
print(f'ช่วงเวลา10.00 น. ถึง 11.00น. มีการใช้เวลาคลิกเฉลี่ย 7.694756e+14 ')

In [ ]:
df= data[data['click_timestamp']>='10:00.0']
df= Q5_10[Q5_10['click_timestamp'] <= '11:00.0']
df.mean()
print(f'ช่วงเวลา10.00 น. ถึง 11.00น. มีการใช้เวลาคลิกเฉลี่ย 7.694756e+14 ')

##จากไฟล์ example_timestamp.csv

เปรียบเทียบผลรวม alpha และ beta ของข้อมูล ก่อนวันที่ 2 มิถุนายน 2020

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('example_timestamp_02.csv')
data

   Unnamed: 0  alpha  beta
0  29-05-2020   8.78    24
1  30-05-2020  13.00    25
2  31-05-2020   0.44    25
3  01-06-2020   1.94    28
4  02-06-2020   5.40    20
5  03-06-2020   5.68    21
6  03-06-2020   2.64    16

In [ ]:
data1 = data[data['Unnamed: 0'] < '06-02-2020']
data2 = data1[['alpha','beta']].sum()
print(f' ผลรวมของค่า alpha และ ค่า beta ก่อนวันที่ 2 มิถุนายน 2563 เท่ากับ 24.16 และ 102 ตามลำดับ')

 ผลรวมของค่า alpha และ ค่า beta ก่อนวันที่ 2 มิถุนายน 2563 เท่ากับ 24.16 และ 102 ตามลำดับ

##เฉลย

In [ ]:
import pandas as pd

In [ ]:
data  =  pd.read_csv('/content/example_timestamp.csv')

In [ ]:
data

   Unnamed: 0  alpha  beta
0  2020-05-29   8.78    24
1  2020-05-30  13.00    25
2  2020-05-31   0.44    25
3  2020-06-01   1.94    28
4  2020-06-02   5.40    20
5  2020-06-03   5.68    21
6  2020-06-04   2.64    16

In [ ]:
data.iloc[0,0]

'2020-05-29'

In [ ]:
from datetime import datetime

In [ ]:
data['Unnamed: 0'] = pd.to_datetime(data['Unnamed: 0'], format='%Y-%m-%d')
data

  Unnamed: 0  alpha  beta
0 2020-05-29   8.78    24
1 2020-05-30  13.00    25
2 2020-05-31   0.44    25
3 2020-06-01   1.94    28
4 2020-06-02   5.40    20
5 2020-06-03   5.68    21
6 2020-06-04   2.64    16

In [ ]:
data.iloc[0,0]

Timestamp('2020-05-29 00:00:00')

In [ ]:
A = data[data['Unnamed: 0']<datetime(day=2,month=6,year=2020)].sum()
print(A)

alpha     24.16
beta     102.00
dtype: float64

In [ ]:
A['alpha']

24.160000000000004

In [ ]:
B = data[data['Unnamed: 0']>=datetime(day=2,month=6,year=2020)].sum()
print(B)

alpha    13.72
beta     57.00
dtype: float64

In [ ]:
B['alpha']

13.72

In [ ]:
print(f"ผลรวมของค่า alpha ก่อนวันที่ 2 มิ.ย. 2020 คือ {A['alpha']:.2f}")

ผลรวมของค่า alpha ก่อนวันที่ 2 มิ.ย. 2020 คือ 24.16

In [ ]:
print(f"ผลรวมของค่า alpha ก่อนวันที่ 2 มิ.ย. 2020 คือ {B['alpha']:.2f}")

ผลรวมของค่า alpha ก่อนวันที่ 2 มิ.ย. 2020 คือ 13.72


Query how?

In [ ]:
data.query('alpha == 1.94')

  Unnamed: 0  alpha  beta
3 2020-06-01   1.94    28

In [ ]:
data[data['alpha']==1.94]

  Unnamed: 0  alpha  beta
3 2020-06-01   1.94    28

เฉลย data 2

In [ ]:
import pandas as pd
from datetime import datetime as dt

In [ ]:
d1 = pd.read_csv('example_timestamp_02.csv')
d1

   Unnamed: 0  alpha  beta
0  29-05-2020   8.78    24
1  30-05-2020  13.00    25
2  31-05-2020   0.44    25
3  01-06-2020   1.94    28
4  02-06-2020   5.40    20
5  03-06-2020   5.68    21
6  03-06-2020   2.64    16

In [ ]:
d1.iloc[0,0]

'29-05-2020'

In [ ]:
from datetime import datetime

In [ ]:
d2= d1[d1['Unnamed: 0']=='29-05-2020']

#Q5 (2)

In [1]:
import pandas as pd
import os
from datetime import datetime as dt

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
path = '/content/drive/My Drive/Dataviz_2021'

In [6]:
q5= pd.read_csv(os.path.join(path,'search_request.csv'),encoding='latin1')
q5

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7,8,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

          Unnamed: 0                             search_id  ...      lat     long
0                  0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.6347  101.463
1                  1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.8009  102.534
2                  2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.7383  100.371
3                  3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.6669  101.861
4                  4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.2372    99.88
...              ...                                   ...  ...      ...      ...
10004352    10005225  5d8c10aa-63cf-4bdd-ab01-0af17a98781f  ...      NaN      NaN
10004353    10005226  66cc94db-217a-4d8e-aa20-b1d10e17c968  ...      NaN      NaN
10004354    10005227  4eb3b514-fb71-4dfe-a580-c560e8c9dcc7  ...      NaN      NaN
10004355    10005228  f5554532-2eb1-4ba6-a98e-1e10b2174d2c  ...      NaN      NaN
10004356    10005229  48421ba4-8c69-46a5-aa05-425ddc82a09a  ...      NaN      NaN

[10004357 rows x 10 columns]

In [11]:
q5.iloc[0,2]

'2018-06-14 12:34:35.449'

In [ ]:
from datetime import datetime

In [13]:
q5['search_timestamp'] = pd.to_datetime(data['search_timestamp'], format='%Y-%m-%d')

ValueError: ignored

In [ ]:
q5_1= q5[q5['search_timestamp']>='11:00:00.000'].sum()
print(q5_1)

In [27]:
q5_2= q5[q5['search_timestamp']<='11:59:00.000']
print(q5_2)

Empty DataFrame
Columns: [Unnamed: 0, search_id, search_timestamp, user_agent, q, user_id, session_id, number_of_result, lat, long]
Index: []