<a href="https://colab.research.google.com/github/waraporn19/data_viz/blob/main/Quiz_5(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

คาบหน้า

In [ ]:
import pandas as pd

In [ ]:
import os
from datetime import datetime as dt

In [ ]:
df= pd.read_csv(('search_click.csv'),encoding='latin1')
df

       click_timestamp  ...    ads
0              11:38.9  ...   True
1              30:51.3  ...   True
2              32:09.6  ...   True
3              00:59.8  ...   True
4              23:36.8  ...   True
...                ...  ...    ...
101263         57:06.4  ...  False
101264         50:05.0  ...  False
101265         00:35.0  ...  False
101266         07:13.9  ...   True
101267         34:26.8  ...    NaN

[101268 rows x 6 columns]

In [ ]:
df1= df[df['click_timestamp']>='10:00.0']

In [ ]:
df2= df1[df1['click_timestamp'] <= '11:00.0']
df.mean()
print(f'ช่วงเวลา10.00 น. ถึง 11.00น. มีการใช้เวลาคลิกเฉลี่ย 7.694756e+14 ')

In [ ]:
df= data[data['click_timestamp']>='10:00.0']
df= Q5_10[Q5_10['click_timestamp'] <= '11:00.0']
df.mean()
print(f'ช่วงเวลา10.00 น. ถึง 11.00น. มีการใช้เวลาคลิกเฉลี่ย 7.694756e+14 ')

 ## Q5 จากไฟล์ example_timestamp.csv

เปรียบเทียบผลรวม alpha และ beta ของข้อมูล ก่อนวันที่ 2 มิถุนายน 2020

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('example_timestamp_02.csv')
data

   Unnamed: 0  alpha  beta
0  29-05-2020   8.78    24
1  30-05-2020  13.00    25
2  31-05-2020   0.44    25
3  01-06-2020   1.94    28
4  02-06-2020   5.40    20
5  03-06-2020   5.68    21
6  03-06-2020   2.64    16

In [ ]:
data1 = data[data['Unnamed: 0'] < '06-02-2020']
data2 = data1[['alpha','beta']].sum()
print(f' ผลรวมของค่า alpha และ ค่า beta ก่อนวันที่ 2 มิถุนายน 2563 เท่ากับ 24.16 และ 102 ตามลำดับ')

 ผลรวมของค่า alpha และ ค่า beta ก่อนวันที่ 2 มิถุนายน 2563 เท่ากับ 24.16 และ 102 ตามลำดับ

##เฉลย

In [ ]:
import pandas as pd

In [ ]:
data  =  pd.read_csv('/content/example_timestamp.csv')

In [ ]:
data

   Unnamed: 0  alpha  beta
0  2020-05-29   8.78    24
1  2020-05-30  13.00    25
2  2020-05-31   0.44    25
3  2020-06-01   1.94    28
4  2020-06-02   5.40    20
5  2020-06-03   5.68    21
6  2020-06-04   2.64    16

In [ ]:
data.iloc[0,0]

'2020-05-29'

In [ ]:
from datetime import datetime

In [ ]:
data['Unnamed: 0'] = pd.to_datetime(data['Unnamed: 0'], format='%Y-%m-%d')
data

  Unnamed: 0  alpha  beta
0 2020-05-29   8.78    24
1 2020-05-30  13.00    25
2 2020-05-31   0.44    25
3 2020-06-01   1.94    28
4 2020-06-02   5.40    20
5 2020-06-03   5.68    21
6 2020-06-04   2.64    16

In [ ]:
data.iloc[0,0]

Timestamp('2020-05-29 00:00:00')

In [ ]:
A = data[data['Unnamed: 0']<datetime(day=2,month=6,year=2020)].sum()
print(A)

alpha     24.16
beta     102.00
dtype: float64

In [ ]:
A['alpha']

24.160000000000004

In [ ]:
B = data[data['Unnamed: 0']>=datetime(day=2,month=6,year=2020)].sum()
print(B)

alpha    13.72
beta     57.00
dtype: float64

In [ ]:
B['alpha']

13.72

In [ ]:
print(f"ผลรวมของค่า alpha ก่อนวันที่ 2 มิ.ย. 2020 คือ {A['alpha']:.2f}")

ผลรวมของค่า alpha ก่อนวันที่ 2 มิ.ย. 2020 คือ 24.16

In [ ]:
print(f"ผลรวมของค่า alpha ก่อนวันที่ 2 มิ.ย. 2020 คือ {B['alpha']:.2f}")

ผลรวมของค่า alpha ก่อนวันที่ 2 มิ.ย. 2020 คือ 13.72


Query how?

In [ ]:
data.query('alpha == 1.94')

  Unnamed: 0  alpha  beta
3 2020-06-01   1.94    28

In [ ]:
data[data['alpha']==1.94]

  Unnamed: 0  alpha  beta
3 2020-06-01   1.94    28

เฉลย data 2

In [ ]:
import pandas as pd
from datetime import datetime as dt

In [ ]:
d1 = pd.read_csv('example_timestamp_02.csv')
d1

   Unnamed: 0  alpha  beta
0  29-05-2020   8.78    24
1  30-05-2020  13.00    25
2  31-05-2020   0.44    25
3  01-06-2020   1.94    28
4  02-06-2020   5.40    20
5  03-06-2020   5.68    21
6  03-06-2020   2.64    16

In [ ]:
d1.iloc[0,0]

'29-05-2020'

In [ ]:
from datetime import datetime

In [ ]:
d2= d1[d1['Unnamed: 0']=='29-05-2020']

#Q5 (2) 
เปรียบเทียบจำนวน requests ของช่วงเวลา 11.00-11.59 กับ 23.00-23.59

เปรียบเทียบจำนวน requests ของวันจันทร์-พฤหัส กับ ศุกร์-อาทิตย์

In [ ]:
import pandas as pd
import os
from datetime import datetime as dt
from datetime import time

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
path = '/content/drive/My Drive/Dataviz_2021'

In [ ]:
q5= pd.read_csv(os.path.join(path,'search_request.csv'),encoding='latin1')
q5

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7,8,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

          Unnamed: 0                             search_id  ...      lat     long
0                  0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.6347  101.463
1                  1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.8009  102.534
2                  2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.7383  100.371
3                  3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.6669  101.861
4                  4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.2372    99.88
...              ...                                   ...  ...      ...      ...
10004352    10005225  5d8c10aa-63cf-4bdd-ab01-0af17a98781f  ...      NaN      NaN
10004353    10005226  66cc94db-217a-4d8e-aa20-b1d10e17c968  ...      NaN      NaN
10004354    10005227  4eb3b514-fb71-4dfe-a580-c560e8c9dcc7  ...      NaN      NaN
10004355    10005228  f5554532-2eb1-4ba6-a98e-1e10b2174d2c  ...      NaN      NaN
10004356    10005229  48421ba4-8c69-46a5-aa05-425ddc82a09a  ...      NaN      NaN

[10004357 rows x 10 columns]

In [ ]:
q5.isnull().any()

Unnamed: 0          False
search_id           False
search_timestamp    False
user_agent          False
q                    True
user_id              True
session_id          False
number_of_result    False
lat                  True
long                 True
dtype: bool

In [ ]:
q5.iloc[0,2] #เช็คว่า เป็นstr หรือไม่

'2018-06-14 12:34:35.449'

In [ ]:
q5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10004357 entries, 0 to 10004356
Data columns (total 10 columns):
 #   Column            Dtype
---  ------            -----
 0   Unnamed: 0        int64
 1   search_id         object
 2   search_timestamp  object
 3   user_agent        object
 4   q                 object
 5   user_id           float64
 6   session_id        object
 7   number_of_result  object
 8   lat               object
 9   long              object
dtypes: float64(1), int64(1), object(8)
memory usage: 763.3+ MB

In [ ]:
type(q5['search_timestamp'])

pandas.core.series.Series

In [ ]:
q5['search_timestamp']  = pd.to_datetime(q5['search_timestamp'],format='%Y-%m-%d %H:%M:%S',errors='coerce') #กำหนด  format ให้เป็น Datetime จากเดิม str 
q5

          Unnamed: 0                             search_id  ...      lat     long
0                  0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.6347  101.463
1                  1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.8009  102.534
2                  2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.7383  100.371
3                  3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.6669  101.861
4                  4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.2372    99.88
...              ...                                   ...  ...      ...      ...
10004352    10005225  5d8c10aa-63cf-4bdd-ab01-0af17a98781f  ...      NaN      NaN
10004353    10005226  66cc94db-217a-4d8e-aa20-b1d10e17c968  ...      NaN      NaN
10004354    10005227  4eb3b514-fb71-4dfe-a580-c560e8c9dcc7  ...      NaN      NaN
10004355    10005228  f5554532-2eb1-4ba6-a98e-1e10b2174d2c  ...      NaN      NaN
10004356    10005229  48421ba4-8c69-46a5-aa05-425ddc82a09a  ...      NaN      NaN

[10004357 rows x 10 columns]

In [ ]:
q5[q5['search_timestamp'].dt.dayofweek == 3]#ดึงเฉพาะวันพฤหัส

          Unnamed: 0                             search_id  ...      lat     long
0                  0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.6347  101.463
1                  1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.8009  102.534
2                  2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.7383  100.371
253              253  5e8ef1b0-6df6-4140-a867-91c8aa1d9c7c  ...  12.6087  102.118
254              254  9acce958-a6e5-4ba0-8a2b-92d453abe495  ...  13.7594  100.503
...              ...                                   ...  ...      ...      ...
10004269    10005142  9b2250fd-a462-4820-b604-b2d585b9a537  ...      NaN      NaN
10004270    10005143  6fff09ba-f16a-4510-bd26-97183f9f7bde  ...      NaN      NaN
10004271    10005144  5cb2fbb7-2a48-400e-8324-04cc7c302a30  ...      NaN      NaN
10004284    10005157  94c27eb4-6909-4511-a560-cfd1425a6cbb  ...      NaN      NaN
10004285    10005158  26130c30-c529-48bf-8430-a26e28afbcfd  ...      NaN      NaN

[1087060 rows x 10 columns]

In [ ]:
t1= q5[q5['search_timestamp'].dt.time < time(hour=12)]# จำนวนค้นหาร้าน ก่อน 12.00น
t1= t1[t1['search_timestamp'].dt.time >= time(hour=11)]# จำนวนค้นหาร้าน หลัง 11.00น
t1= t1.iloc[:,2].count()#นับจำนวน  ค้นหาร้าน
t1

738397

In [ ]:
t2= q5[q5['search_timestamp'].dt.time >= time(hour=23)]
t2= t2.iloc[:,2].count() 
t2

278510

In [ ]:
print(f'ช่วงเวลา 11.00 ถึง 12.00น. มีจำนวนการค้นหาร้านอาหาร เท่ากับ {t1} ซึ่งมากกว่า ช่วงเวลา 23.00 ถึง 0.00 น. มีจำนวนการค้นหาร้านอาหาร เท่ากับ {t2}  ซึ่งมากกว่า{t1-t2} ครั้ง')

ช่วงเวลา 11.00 ถึง 12.00น. มีจำนวนการค้นหาร้านอาหาร เท่ากับ 738397 ซึ่งมากกว่า ช่วงเวลา 23.00 ถึง 0.00 น. มีจำนวนการค้นหาร้านอาหาร เท่ากับ 278510  ซึ่งมากกว่า459887 ครั้ง

In [ ]:
q5[q5['search_timestamp'].dt.dayofweek <= 3] #วันจันทร์-พฤหัส

          Unnamed: 0                             search_id  ...      lat     long
0                  0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.6347  101.463
1                  1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.8009  102.534
2                  2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.7383  100.371
19                19  5a68d9e6-3173-4e5c-9087-983c012d7a6d  ...  13.2972  100.954
20                20  2807eb47-4bc4-445d-abae-0bb0d44867dd  ...  8.18816  98.2881
...              ...                                   ...  ...      ...      ...
10004284    10005157  94c27eb4-6909-4511-a560-cfd1425a6cbb  ...      NaN      NaN
10004285    10005158  26130c30-c529-48bf-8430-a26e28afbcfd  ...      NaN      NaN
10004291    10005164  fb2135ee-2eb0-4654-b0f6-d33a91b03706  ...      NaN      NaN
10004292    10005165  bcadf6f0-3b33-460c-bc77-1878662aee1e  ...      NaN      NaN
10004293    10005166  e2e659fb-26d7-47aa-b620-9001059e860b  ...      NaN      NaN

[4220697 rows x 10 columns]

In [ ]:
A = q5[q5['search_timestamp'].dt.dayofweek <= 3] #วันจันทร์-พฤหัส
A = A.iloc[:,2].count()
A

4220697

In [ ]:
q5[q5['search_timestamp'].dt.dayofweek >= 4] #ศุกร์-อาทิตย์

          Unnamed: 0                             search_id  ...      lat     long
3                  3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.6669  101.861
4                  4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.2372    99.88
5                  5  4c048ac7-9fc7-49e8-9ee4-20ff755b939d  ...  12.8531  101.109
6                  6  3ecf13ba-be4d-4eb9-9374-a1cca09d1614  ...  12.4511  102.249
7                  7  a7e6b7c5-3d3c-4337-8337-d29c5346b686  ...  13.6409  100.433
...              ...                                   ...  ...      ...      ...
10004352    10005225  5d8c10aa-63cf-4bdd-ab01-0af17a98781f  ...      NaN      NaN
10004353    10005226  66cc94db-217a-4d8e-aa20-b1d10e17c968  ...      NaN      NaN
10004354    10005227  4eb3b514-fb71-4dfe-a580-c560e8c9dcc7  ...      NaN      NaN
10004355    10005228  f5554532-2eb1-4ba6-a98e-1e10b2174d2c  ...      NaN      NaN
10004356    10005229  48421ba4-8c69-46a5-aa05-425ddc82a09a  ...      NaN      NaN

[5783659 rows x 10 columns]

In [ ]:
B = q5[q5['search_timestamp'].dt.dayofweek >= 4] #ศุกร์-อาทิตย์
B  = B.iloc[:,2].count()
B

5783659

In [ ]:
print(f'วันจันทร์ - พฤหัสบดี จำนวนการค้นหาร้านอาหาร เท่ากับ  {A} ซึ่งน้อยกว่า วันศุกร์ - อาทิตย์ มีจำนวนการค้นหาร้านอาหาร เท่ากับ {B}  ซึ่งน้อยกว่า {B - A} ครั้ง')

วันจันทร์ - พฤหัสบดี จำนวนการค้นหาร้านอาหาร เท่ากับ  4220697 ซึ่งน้อยกว่า วันศุกร์ - อาทิตย์ มีจำนวนการค้นหาร้านอาหาร เท่ากับ 5783659  ซึ่งน้อยกว่า 1562962 ครั้ง