<a href="https://colab.research.google.com/github/waraporn19/data_viz/blob/main/Quiz_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

คาบหน้า

In [15]:
import pandas as pd

In [16]:
import os
from datetime import datetime as dt

In [18]:
df= pd.read_csv(('search_click.csv'),encoding='latin1')
df

       click_timestamp  ...    ads
0              11:38.9  ...   True
1              30:51.3  ...   True
2              32:09.6  ...   True
3              00:59.8  ...   True
4              23:36.8  ...   True
...                ...  ...    ...
101263         57:06.4  ...  False
101264         50:05.0  ...  False
101265         00:35.0  ...  False
101266         07:13.9  ...   True
101267         34:26.8  ...    NaN

[101268 rows x 6 columns]

In [19]:
df1= df[df['click_timestamp']>='10:00.0']

In [ ]:
df2= df1[df1['click_timestamp'] <= '11:00.0']
df.mean()
print(f'ช่วงเวลา10.00 น. ถึง 11.00น. มีการใช้เวลาคลิกเฉลี่ย 7.694756e+14 ')

In [ ]:
df= data[data['click_timestamp']>='10:00.0']
df= Q5_10[Q5_10['click_timestamp'] <= '11:00.0']
df.mean()
print(f'ช่วงเวลา10.00 น. ถึง 11.00น. มีการใช้เวลาคลิกเฉลี่ย 7.694756e+14 ')

##เปรียบเทียบ alpha และ deta ของข้อมูล ก่อนและตั้งแต่วันที่ 2 มิถุนายน 2020

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('example_timestamp_02.csv')
data

   Unnamed: 0  alpha  beta
0  29-05-2020   8.78    24
1  30-05-2020  13.00    25
2  31-05-2020   0.44    25
3  01-06-2020   1.94    28
4  02-06-2020   5.40    20
5  03-06-2020   5.68    21
6  03-06-2020   2.64    16

In [ ]:
data1 = data[data['Unnamed: 0'] < '06-02-2020']
data2 = data1[['alpha','beta']].sum()
print(f' ผลรวมของค่า alpha และ ค่า beta ก่อนวันที่ 2 มิถุนายน 2563 เท่ากับ 24.16 และ 102 ตามลำดับ')

 ผลรวมของค่า alpha และ ค่า beta ก่อนวันที่ 2 มิถุนายน 2563 เท่ากับ 24.16 และ 102 ตามลำดับ

เฉลย data 2

In [1]:
import pandas as pd

In [3]:
d1 = pd.read_csv('example_timestamp_02.csv')
d1

   Unnamed: 0  alpha  beta
0  29-05-2020   8.78    24
1  30-05-2020  13.00    25
2  31-05-2020   0.44    25
3  01-06-2020   1.94    28
4  02-06-2020   5.40    20
5  03-06-2020   5.68    21
6  03-06-2020   2.64    16

In [4]:
d1.iloc[0,0]

'29-05-2020'

In [23]:
from datetime import datetime

In [45]:
d2= d1[d1['Unnamed: 0']=='29-05-2020']

In [25]:
d1['Unnamed: 0'] = pd.to_datetime(d1['Unnamed: 0'], format='%Y-%m-%d')
d1

ValueError: ignored

In [47]:
before = d1[d1['Unnamed: 0']< dt(day=2,month=6,year=2020)].sum()

TypeError: ignored

In [43]:
after = d1[d1['Unnamed: 0']>= dt(day=2,month=6,year=2020)].sum()

TypeError: ignored

In [ ]:
print(f"ค่าผลรวมของค่า alpha ของก่อนวันที่ 2 มิ.ย. 2020 คือ {before['alpha']:2.2f} และผลรวมของค่า beta คือ {before['beta']:2.2f}")

In [ ]:
print(f"ค่าผลรวมของค่า alpha ของตั้งแต่วันที่ 2 มิ.ย. 2020 คือ {after['alpha']:2.2f} และผลรวมของค่า beta คือ {after['beta']:2.2f}")