<a href="https://colab.research.google.com/github/waraporn19/data_viz/blob/main/Quiz2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:

import pandas as pd

In [12]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [13]:
import os
path = '/content/drive/My Drive/Data_mid'#ให้ข้อมูลที่อยู่ใน Drive แทนด้วยชื่อ path

In [14]:
d1 = os.path.join(path,'3.-41-58.csv')
print(d1)

/content/drive/My Drive/Data_mid/3.-41-58.csv

In [28]:
data_r = pd.read_csv(d1)
data_r

UnicodeDecodeError: ignored

ใช้ excel

In [25]:
import pandas as pd #เรียกใช้ packet ชื่อว่า pandas แล้วเปลี่ยนเป็น pd
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [27]:
data_1 = os.path.join(path,'3.-41-58.csv')

#เฉลย

In [20]:
import pandas as pd

In [24]:
data_csv = pd.read_csv('3.-41-58.csv', encoding='iso-8859-11')#encoding ใช้อ่านไฟล์ภาษาไทย
data_csv.iloc[:10,:] #ดูตั้งแต่หัวตารางลงมา

    รายได้เฉลี่ยต่อเดือนต่อครัวเรือน จำแนกตามภาค และจังหวัด พ.ศ. 2541 - 2558  ... Unnamed: 66
0    Average Monthly Income Per Household: 1998 - 2015                        ...         NaN
1                                                  NaN                        ...         NaN
2                                       ภาค และจังหวัด                        ...         NaN
3                                                  NaN                        ...         NaN
4                                                  NaN                        ...         NaN
..                                                 ...                        ...         ...
104                                                NaN                        ...         NaN
105                                                NaN                        ...         NaN
106                                                NaN                        ...         NaN
107                                                NaN                        ...         NaN
108                                                NaN                        ...         NaN

[109 rows x 67 columns]

In [29]:
data_csv = pd.read_csv('3.-41-58.csv', encoding='iso-8859-11',header= 3)#encoding ใช้อ่านไฟล์ภาษาไทย # header กำหนดหัวตารางที่ี่ต้องการมา ว่าอยู่แถวที่เท่าไร
data_csv.iloc[:10,:] #ดูตั้งแต่หัวตารางลงมา

          ภาค และจังหวัด Unnamed: 1  ... Unnamed: 65 Unnamed: 66
0                    NaN        NaN  ...         NaN         NaN
1                    NaN        NaN  ...         NaN         NaN
2       ทั่วราชอาณาจักร         NaN  ...         NaN         NaN
3              ตอนพิเศษ         NaN  ...         NaN         NaN
4         กรุงเทพมหานคร         NaN  ...         NaN         NaN
5           สมุทรปราการ         NaN  ...         NaN         NaN
6               นนทบุรี         NaN  ...         NaN         NaN
7              ปทุมธานี         NaN  ...         NaN         NaN
8               ภาคกลาง         NaN  ...         NaN         NaN
9       พระนครศรีอยุธยา         NaN  ...         NaN         NaN

[10 rows x 67 columns]

In [31]:
data_csv.head(10).dropna(subset=['ภาค และจังหวัด']).iloc[:,:13]#.dropna(subset ตัดมาแค่ 'ภาค และจังหวัด'  และตัด missing ออก #.ilocตัดcolum ที่ไม่เอาออก ตั้งแต่  colum 13

          ภาค และจังหวัด Unnamed: 1  ...      2558             Region and province
2       ทั่วราชอาณาจักร         NaN  ...   26,915                   Whole Kingdom
3              ตอนพิเศษ         NaN  ...   41,002                 Greater Bangkok
4         กรุงเทพมหานคร         NaN  ...   45,572                         Bangkok
5           สมุทรปราการ         NaN  ...   25,457                    Samut Prakan
6               นนทบุรี         NaN  ...   36,884                      Nonthaburi
7              ปทุมธานี         NaN  ...   41,057                    Pathum Thani
8               ภาคกลาง         NaN  ...   26,601                  Central Region
9       พระนครศรีอยุธยา         NaN  ...   28,379        Phra Nakhon Si Ayutthaya

[8 rows x 13 columns]

In [37]:
data_csv.dropna(axis=1,subset=[2])#.dropna(axis คือตัดแถวที่มี Missing ออก

          ภาค และจังหวัด      2541  ...      2558 Region and province
0                    NaN    (1998)  ...    (2015)                 NaN
1                    NaN       NaN  ...       NaN                 NaN
2       ทั่วราชอาณาจักร    12,492   ...   26,915       Whole Kingdom
3              ตอนพิเศษ    24,929   ...   41,002     Greater Bangkok
4         กรุงเทพมหานคร    26,054   ...   45,572             Bangkok
..                   ...       ...  ...       ...                 ...
101                  NaN       NaN  ...       NaN                 NaN
102                  NaN       NaN  ...       NaN                 NaN
103                  NaN       NaN  ...       NaN                 NaN
104                  NaN       NaN  ...       NaN                 NaN
105                  NaN       NaN  ...       NaN                 NaN

[106 rows x 12 columns]